h1 {
    color: blue;
    font-family: arial;
    font-size: 100px;
}

h1 {
    font-family: arial, verdana, sans-serif;
    font-size: 100px;
    font-variant: small-caps;
    font-style: italic;
}

p {
    font-family: georgia, serif;
    line-height: 50px;
}